body {
  width: 560px;
  margin: 0 auto;
}
.subform {
  font-size: 15px;
}
.subform .head {
  font-size: 2em;
  font-weight: bold;
  margin-bottom:0;
  position: relative;
  top: 14px;
}
.subform .litleText {
  font-size: 10px;
  color: red;
  margin-bottom: 0;
}
.subform .label {
  display: inline-block;
  width: 70px;
  vertical-align: top;
}
.form_error {
  width: 7em;
  background: red;
  color: white;
  display:block;
  display:none;
  margin-left: 3px;
  position: relative;
  left: 260px;
  bottom: 18px;
}
input:invalid:not(:placeholder-shown) +
.form_error {
  display:block;
}
.subform input[type="submit"] {
  padding: 8px 20px;
  margin-left: 45px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}