html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  width: 100%;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0067A3;
}
.logoName {
  margin-left: 15px;
  display: flex;
  align-items: center;
  flex: 5;
}
.logoText {
  text-transform: capitalize;
  color: white;
  font-size: 28px;
}
.createList {
  flex: 1;
}
.createNewList[type="button"] {
  width: 181px;
  height: 33px;
  background: white url(img/add.png) no-repeat 4% center;
  font-size: 18px;
  padding-left: 20px;
  border-radius: 5px;
}
.userName {
  text-align: end;
  padding-top: 20px;
  width: 64px;
  height: 40px;
  margin-right: 15px;
  background: url("img/Slice_1.png") no-repeat left center;
  flex: 0 1 64px;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  background: #0067A3;
  color: white;
    
}
.footerInfo {
  display: flex;
  justify-content: space-around;
  flex: 2;
}
.boardByAcc{
  display: flex;
  flex: 5; 
  justify-content: flex-end;
  padding-right: 15px;
}
