html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
header{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0067A3;
}
.logoName {
  margin-left: 15px;
  display: flex;
  align-items: center;
  flex:2;
}
.logoText {
  text-transform: capitalize;
  color: white;
  font-size: 28px;
}
.userOperations {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex:1;
}
.addBtn {
  width: 181px;
  height: 33px;
  background: white url(img/add.png) no-repeat 4% center;
  font-size: 18px;
  padding-left: 20px;
  border-radius: 5px;
}
.userName {
  text-align: end;
  padding-top: 20px;
  width: 64px;
  height: 40px;
  margin-right: 15px;
  background: url("img/Slice_1.png") no-repeat left center;
  flex: 0 1 64px;
  position: relative;
}
.arrow {
  transform: rotate(90deg);
  background: #0067A3;
  color: white;
  border: none;
}
.arrow:hover {
  cursor: pointer;
}
.menuContainer {
  margin-top: 15px;
}
.menu {
  padding: 2px;
  width: 7em;
  height: 9.5em;
  font-size: 18px;
  background: rgb(172, 173, 175);
  border-radius: 10px;
  list-style-type: none;
}
.menuList {
  text-align: center;
  margin: 8px;
  padding: 6px;
  border-radius: 5px;
  background: white;
  text-decoration: none;
}
.menuList:hover {
  background: #0067A3;
  color: white;
  cursor: pointer;
}
main {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  background:rgb(2, 118, 185);
}
.taskBlock {
  width: 290px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background: #EBECF0;
  border-radius: 10px; 
}
.headline {
  width: 282px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headline p {
  padding-left: 10px;
  font-size: 18px;
  text-transform: capitalize;
}
.blockInfo {
  padding-right: 20px;
  border: none;
  width: 20px;
  height: 18px;
  background: #EBECF0;
  font-size: 18px;
  font-weight: bold;
}
.addCard {
  border: none;
  width: 120px;
  background: #EBECF0;
  color: #5E6C84;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0 0 0 10px;
}
.addCard:disabled {
  cursor: default;
  background: rgb(63, 63, 63);
  color: rgb(86, 113, 160);
}
.addCard:active {
  background: rgb(211, 217, 240);
}
.listTask {
  list-style-type: none;
  width: 258px;
  font-size: 18px;
  background: white;
  margin: 10px;
  border-radius: 5px;
  margin-left: -27px;
  padding-left: 10px;
  cursor: pointer;
}
.listTask:hover {
  background: #0067A3;
  color: white;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #0067A3;
  color: white;
}
.footerInfo {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.kanbanBoard{
  display: flex;
  flex: 2;
  justify-content: flex-end;
  padding-right: 15px;
}